<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
</head>
<body>

    <h2>Listado de Canciones</h2>
    <hr>
    <% cancionList.forEach(cancion => { %>
        <h2>Id: <%= cancion.id %></h2>
        <h2>Nombre: <%= cancion.titulo %></h2>
        <h2>Duracion: <%= cancion.duracion %></h2>
        <h2>Cantante: <%= cancion.artista.nombre %> <%= cancion.artista.apellido %></h2>
        <h2>Genero: <%= cancion.genero.name %></h2>
        <h2>Album: <%= cancion.album.nombre %></h2>
        <hr>
        
        <% }); %>
</body>
</html>